@charset "UTF-8";

* {
    margin: 0px ;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    background-color: black;
    padding: 5vh 0px;
}

header > h1 {
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-size: 2.5em;
}

body  > section#experiencia {
    margin: auto;
}
section#experiencia  {
    width: 450px;
    color: black;
    background-color: white;
    text-align: center;
}

section#experiencia > h2 {
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
}

section#experiencia > h3 {
    color: rgb(80, 80, 245);;
    padding: 15px;
    font-size: 2em;
}

section#experiencia > li {
    font-size: 1.5em;
    list-style: none;
    text-indent: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(111, 109, 109);
}

div#voltar {
    margin: 40px;
}
div#voltar > a {
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    width: 200px;
    background-color: rgb(80, 80, 245);;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}
