@charset "UTF-8";

@media screen and (min-width:768px) {
    section#formacao {
        width: 800px;
        text-align: center;
    }

    section#formacao > h2 {
        font-size: 3em;
    }

   div#multivix > h3 {
    font-size: 2.5em;
   }

   div#multivix > ul > li {
    font-size: 1.3em;
   }

   div#easy > h3 {
    font-size: 2.5em;
   }

   div#easy > ul > li {
    font-size: 1.3em;
   }

   div#bradesco > h3 {
    font-size: 2.5em;
   }

   div#bradesco > ul > li {
    font-size: 1.3em;
   }

   div#cemv > h3  {
    font-size: 2.5em;
   }

   div#cemv > ul > li {
    font-size: 1.3em;
   }

   div#faacz > h3 {
    font-size: 2.5em;
   }

   div#faacz > ul > li {
    font-size: 1.3em;
   }
}